.jumbotron {
    margin: 0;
    background-color: goldenrod;
}
.cardSpacing {
    margin-top: 50px;
    margin-bottom: 50px;
}
.border-gr {
    border: solid 3px goldenrod;
}
.navbar {
    background-color: darkred;
}
.btn-youtube {
    background-color: darkred;
    color: white;
}
.btn-quiz {
    background-color: darkred;
    color: white;
    padding: 1em;
}
.site-footer {
    background-color: goldenrod;
}
.border-dr {
    border: solid 3px darkred;
}
.backgrnd-gr {
    background-color: goldenrod;
}
.jz-portrait {
    max-width: 80%;
    height: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: .5em;
    margin: .5em;
    border:solid black 1px;
    border-radius: 10px;
}
.img-opaque {
    display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: .1;
  margin-top: -15px;
}
.cartBtn {
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
}
.topRow {
    margin-top: 50px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 25px
}
.bottomRow {
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 50px
}
